html, body{
    height: 100%;
    margin: 0px;
    font-size: 14px;
}
.body-container{
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 100%;
}
.header-link{
    text-align: right;
    padding-right: 4em;
}
a{
    margin: 0.5em;
    text-decoration: none;
    font-size: small;
    color: #000;
}
a:hover{
    text-decoration: underline;
}
.main{
    
    text-align: center;
    align-self: center;
}
.footer-link{
    background-color: #f8f9fa;
}
.searchbox{
    display: flex;
    padding: 5px 8px 0 16px;
    margin: 1em auto;
    width: 60%;
    height: 2.5rem;
    border: 2px solid #dcdcdc;
    border-radius: 2em;
 
}
.search-field{
    border: none;
}
.main-button{
    background-color: #f8f9fa;
    border: none;
    padding: 1em 1em;
}

.left-footer{
    display: inline;
}
.right-footer{
    display: inline;
}